* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  min-height: 100vh;
}

.controles {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.jogo {
  display: grid;
}

.tabuleiro,
.resultado-pares,
.cabecalho,
.jogadores,
.resultado-classificacao,
.carta-ampliada,
.inicio {
  background-color: aqua;
}

/* deixar essas classes no final do arquivo */
@media (max-width: 992px) {
  .conteudo {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .controles {
    grid-template-rows: repeat(3, auto);
  }
}

.escondido {
  display: none;
}

.Próximo{
background-color: lightgreen ;
border-color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
}